<div>
	<h1>Are you sure you want to read this message and destroy it?</h1>
	<button class="btn btn-danger" onclick="location.href = '{{destroyUrl}}'">Yes, Destroy it</button>
	<button class="btn btn-primary" onclick="location.href = '{{destroyUrl}}?set=true'">No</button>
	<h6>All messages will be automatically destroyed after 1 hour</h6>
</div>