<textarea class="form-control" id="note" rows="14"></textarea> <br />
<input id="checkbox" type="checkbox" name="destroy" checked onChange="handleCheck()"> Do you want message to be destroyed after it is read.?<br>
Hours after which you want message to be deleted
<input id="hours" type="number" name="hours" min="1" disabled>
<button class="btn btn-primary form-control" onclick="submit()">Submit</button>
<button class="btn btn-default form-control" style="margin-top:8px;" onclick="restart()">Clear</button>

<div id="results" style="font-size: 40px;margin-top:10px;text-align:center;display:none;">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">URL:</span>
    <input type="text" class="form-control" id="url" />
    <span onclick="copyUrl()" id="copy" class="input-group-addon" style="cursor:pointer;">Copy</span>
  </div>
</div>


<script>
  function handleCheck() {
    const destroy = document.getElementById('checkbox').checked
    if(!destroy) {
      document.getElementById("hours").removeAttribute("disabled");
    }
  }

  function submit() {
    const note = document.getElementById('note').value;
    const destroy = document.getElementById('checkbox').checked;
    const hours = document.getElementById('hours').value;
    const opts = {note, destroy, hours};
    fetch('/create', {
      method: 'post',
      body: JSON.stringify(opts),
      headers: new Headers({
        'Content-Type': 'application/json'
      })
    }).then(function(response) {
      return response.json();
    }).then(function(data) {
      document.getElementById('url').value = data.url;
      document.getElementById('results').style.display = 'block';
    });
  }
  
  function copyUrl() {
    document.getElementById('url').select();
    document.execCommand('copy');
    document.getElementById('copy').innerHTML = 'Copied!';
  }

  function restart() {
    document.getElementById('note').value = '';
    document.getElementById('url').value = '';
    document.getElementById('results').style.display = 'none';
  }

</script>