<!doctype html>
<html>
  <head>
    <title>Hushnote</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <style>
        .note-text-container {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            word-break: normal !important;
        }
    </style>
    <script src="/crypto.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Hushnote <small>- A secure, client-encrypted, one-time messaging app</small></h1>
      {{{body}}}
    </div>
  </body>
</html>