<!doctype html>
<html>
<head>
    <title>Hushnote</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles.css" />
    <script src="/crypto.min.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="header"><a href="/">Hushnote</a> <small class="text-secondary tagline">- A secure, client-encrypted, one-time messaging app</small></h1>
        {{{body}}}
    </div>
    <footer class="footer mt-auto py-3 bg-light d-flex flex-columns">
        <div class="container d-flex">
            <div class="justify-content-start">
                <span class="text-muted text-left">No copyright <span id="year"></span></span>
            </div>
            <div class="justify-content-end">
                <a href="https://github.com/joshterrill/hushnote" target="_new">
                    <img style="width: 26px;" src="/github.svg" />
                </a>
            </div>
        </div>
    </footer>

    <script>
        document.getElementById('year').innerText = new Date().getFullYear();
    </script>
</body>
</html>