<!doctype html>
<html>
  <head>
    <title>Hushnote</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Hushnote</h1>
      {{{body}}}
    </div>
  </body>
</html>